@import './iconfont.css';
@import "./common.scss";
@import "./main.scss";

// 主题颜色
$--color-primary: #171b1f;
// border颜色
$--color-border: #373b40;
// 灰色
$--color-gray: #AAB2B6;
// input
$--color-input: #282c34;
// 内容背景
$--color-back: #282C34;
